@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
body {
  background-color: #F5F5F5;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}
.content1 {
  background-color: #215398;
  height: 100%;
}
.content1 h1 {
  color: white;
  margin: 0 0 0 0;
  text-align: center;
  font-size: 40px;
  padding: 5% 0 0 0;
}
.content1 p {
  color: white;
  text-align: center;
  opacity: 0.6;
  font-size: 20px;
}
.top {
  background-color: white;
}
#logo {
  padding: 1% 15% 1%;
}
.content2 {
  width: 78%;
  margin: auto;
}
.content2 h1 {
  color: #2D3236;
  margin: 0 0 0 0;
  text-align: center;
  font-size: 40px;
  padding: 5% 0 0 0;
}
.content2 h2 {
  color: #2D3236;
  margin: 0 0 0 0;
  text-align: center;
  font-size: 30px;
  padding: 2% 0 0 0;
}
.content2 p {
  color: #2D3236;
  text-align: center;
  opacity: 0.6;
  font-size: 20px;
}
#column {
  float: left;
  width: 25%;
  background-color: white;
  text-align: center;
  margin: 2% 2% 2% 2%;
  padding: 2% 2% 2% 2%;
}
#column h1 {
  font-size: 20px;
  color: #2D3236;
}
#column p {
  font-size: 15px;
  color: #808080;
}
.row {
  width: 90%;
  margin: auto;
  clear: both;
  display: flex;
  padding: 0 0 3%;
}
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.prev {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  padding: 16px;
  color: #28A9E0;
  font-weight: normal;
  font-size: 41px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev:hover {
  color: #212E52;
}
.next {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  padding: 16px;
  color: #28A9E0;
  font-weight: normal;
  font-size: 41px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.next:hover {
  color: #212E52;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:hover {
  background-color: #717171;
}
.active {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@media only screen and (max-width: 700px) {
  #column {
    float: left;
    width: 80%;
    background-color: white;
    text-align: center;
    margin: 5% 10% 5% 10%;
  }
  .row {
    display: table;
    padding: 0 0 0 0;
  }
  .prev {
    top: 45%;
  }
  .next {
    top: 45%;
  }
}
